
<div class=" navbar-custom d-flex flex-column
  justify-content-between flex-md-row align-items-center
  p-3 py-md-1 px-md-4 mb-3 bg-white  
  fixed-top wr">
  
  <img src="/assets/images/logo.png" alt="brnd-logo" class="img-fluid logo-img" width="110">

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white" href="#">Home</a>
    <a class="p-2 text-white" href="#">Shop</a>
    <a class="p-2 text-white" href="#">Contact Us</a>
  </nav>

  <div class="d-flex justify-content-center login-section">
    <a href="#"  class="mr-3 px-2 py-3 position-relative">
      <span class="cart-no badge text-white bg-danger position-absolute">5</span>
      <i class="fa fa-shopping-cart fa-2x text-white"></i>
    </a>
    <a class="btn btn-outline-secondary mr-2 log-btn" >Login</a>
    <a class="btn btn-outline-secondary mr-2 sign-btn" >Sign up</a>
  </div>

</div>
